In [3]:
import pandas as pd
from pathlib import Path
import requests
from pprint import pprint

In [4]:
#store and read csv file
path = Path("Resources/us_counties_covid19_daily.csv")
covidaily_df = pd.read_csv(path)

In [5]:
#display head
covidaily_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [8]:
# filter & create data frame with my season(Spring)
beg_spring = "2020-02-29"
end_spring = "2020-06-01"
spring_filtered = (covidaily_df["date"] > beg_spring)&(covidaily_df["date"] < end_spring)
covidSP_df = covidaily_df.loc[spring_filtered]
#display covid spring df
covidSP_df

              date       county       state     fips  cases  deaths
398     2020-03-01     Maricopa     Arizona   4013.0      1     0.0
399     2020-03-01      Alameda  California   6001.0      1     0.0
400     2020-03-01     Humboldt  California   6023.0      1     0.0
401     2020-03-01  Los Angeles  California   6037.0      1     0.0
402     2020-03-01        Marin  California   6041.0      1     0.0
...            ...          ...         ...      ...    ...     ...
196845  2020-05-31   Sweetwater     Wyoming  56037.0     30     0.0
196846  2020-05-31        Teton     Wyoming  56039.0    100     1.0
196847  2020-05-31        Uinta     Wyoming  56041.0     12     0.0
196848  2020-05-31     Washakie     Wyoming  56043.0     35     3.0
196849  2020-05-31       Weston     Wyoming  56045.0      1     0.0

[196452 rows x 6 columns]