In [1]:
#Dependencies and Set up 
import os
import csv
import pandas as pd
#from pathlib import path 
#import requests
#from pprint import pprint

In [36]:
#File Path and read filepath and store into pandas DataFrames

Filepath = os.path.join("Resources","us_counties_covid19_daily.csv")

C19_df = pd.read_csv(Filepath, encoding="ISO-8859-1")

In [37]:
# Show the first five rows.
C19_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [39]:
# Select rows in my date range
# Make a start date
Beg_date = '2020-06-01'

# Make an end date
end_date = '2020-08-31'

# Select DataFrame rows between two dates
mask = (C19_df['date'] > Beg_date) & (C19_df['date'] <= end_date)
SummerC19_df = C19_df.loc[mask]

SummerC19_df.head()

              date   county    state    fips  cases  deaths
199923  2020-06-02  Autauga  Alabama  1001.0    240     5.0
199924  2020-06-02  Baldwin  Alabama  1003.0    308     9.0
199925  2020-06-02  Barbour  Alabama  1005.0    176     1.0
199926  2020-06-02     Bibb  Alabama  1007.0     79     1.0
199927  2020-06-02   Blount  Alabama  1009.0     65     1.0

In [40]:
# Add the weather column and city to out DataFrame
#SummerC19_df['Temperature (C)'] = ''
#SummerC19_df['City'] = ''
#SummerC19_df

In [23]:
#df = df.reset_index()