In [2]:
# Dependencies

import pandas as pd 
from pathlib import Path
import requests
from pprint import pprint

In [4]:
# Store filepath in a variable 

file_one = Path("Resources/us_counties_covid19_daily.csv")

In [5]:
# Read our data files with the Pandas library

covid_df = pd.read_csv(file_one, encoding= "ISO-8859-1")

In [6]:
# Show the first five rows

covid_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [9]:
# select rows in my season
# make a start date for december
# make a end date for december 

start_date = "2020-12-01"
end_date = "2020-12-31"


# make a start date for january-february 
# make a end date for january-febraury

start_date = "2020-01-01"
end_date = "2020-02-29"

# Select DataFrame rows between two dates
mask = (covid_df['date'] > start_date) & (covid_df['date'] <= end_date)
winter_covid_df = covid_df.loc[mask]

winter_covid_df

           date     county       state     fips  cases  deaths
0    2020-01-21  Snohomish  Washington  53061.0      1     0.0
1    2020-01-22  Snohomish  Washington  53061.0      1     0.0
2    2020-01-23  Snohomish  Washington  53061.0      1     0.0
3    2020-01-24       Cook    Illinois  17031.0      1     0.0
4    2020-01-24  Snohomish  Washington  53061.0      1     0.0
..          ...        ...         ...      ...    ...     ...
393  2020-02-29  Salt Lake        Utah  49035.0      1     0.0
394  2020-02-29       King  Washington  53033.0      4     1.0
395  2020-02-29  Snohomish  Washington  53061.0      2     0.0
396  2020-02-29    Spokane  Washington  53063.0      4     0.0
397  2020-02-29       Dane   Wisconsin  55025.0      1     0.0

[398 rows x 6 columns]